<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}">
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:creator" content="@lunasorcery">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<h2 class="page-title">How many people has the games industry laid off in {{current-year}}?</h2>

<h2 class="more-than">more than</h2>
<h1 class="year-total">{{total-this-year}}</h1>

<img class="visual" src="visual.svg" />

<div class="months">
  {{#months}}
  <h3 class="month">{{name}}</h3>
  <ul class="layoffs">
    {{#layoffs}}
    {{#redacted}}
    <li class="layoff redacted"></li>
    {{/redacted}}
    {{^redacted}}
    <li class="layoff">
      {{{text}}}{{#link}} <sup><a href="{{.}}" class="source">[source]</a></sup>{{/link}}
    </li>
    {{/redacted}}
    {{/layoffs}}
  </ul>
  {{/months}}
</div>

<footer>
  The big counter is a <em>conservative</em> estimate, using the<br>exact or estimated number affected where possible,<br>and the <em>lower</em> bound where only a range is available.<br>
  <br>
  Data mostly aggregated from <a href="https://kotaku.com/game-industry-layoffs-how-many-2024-unity-twitch-1851155818">Kotaku</a> and <a href="http://videogamelayoffs.com/">@dekaf</a>.</br>
  <br>
  Source available on <a href="https://github.com/lunasorcery/vg-layoffs/">GitHub</a>, made & maintained by <a href="https://moonbase.lgbt/">Luna</a>.
</footer>

</body>
</html>
