body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif;
    margin: 2em 1em;
}

h2.page-title {
    text-wrap: balance;
    text-align: center;
    font-size: 1.4em;
}

h2.more-than {
    font-size: calc(min(7em, 15vw)); 

    text-align: center;
    margin: 0;
    font-weight: 400;
    line-height: 1;
}

h1.year-total {
    /* this will need to be updated when the number inevitably grows too wide for the screen */
    font-size: calc(min(15em, 30vw)); 
    
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-weight: 400;
    line-height: 1;
}

div.months {
    max-width: 700px;
    margin: 2rem auto;
}

ul.layoffs {
    padding-left: 2em;
}

li.layoff {
    margin: 0.7em auto;
}

li.redacted {
    background: #000;
}

sup {
    font-size: 0.5em;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

footer {
    text-align: center;
    font-size: 0.7em;
}

/*@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
    li.redacted {
        background: #fff;
    }    
}*/
